<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cbd.mapper.WangzhiMapper" >
  <resultMap id="BaseResultMap" type="org.cbd.pojo.Wangzhi" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="wangzhan" property="wangzhan" jdbcType="VARCHAR" />
    <result column="Year" property="year" jdbcType="VARCHAR" />
    <result column="Month" property="month" jdbcType="VARCHAR" />
    <result column="Day" property="day" jdbcType="VARCHAR" />
    <result column="Hour" property="hour" jdbcType="VARCHAR" />
    <result column="Xingqi" property="xingqi" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="URLcunqu" property="urlcunqu" jdbcType="VARCHAR" />
    <result column="URLdaxiao" property="urldaxiao" jdbcType="VARCHAR" />
    <result column="URLruzhan" property="urlruzhan" jdbcType="VARCHAR" />
    <result column="URLchuzhan" property="urlchuzhan" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, wangzhan, Year, Month, Day, Hour, Xingqi, URL, URLcunqu, URLdaxiao, URLruzhan, 
    URLchuzhan
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wangzhi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wangzhi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.cbd.pojo.Wangzhi" >
    insert into wangzhi (id, wangzhan, Year, 
      Month, Day, Hour, Xingqi, 
      URL, URLcunqu, URLdaxiao, 
      URLruzhan, URLchuzhan)
    values (#{id,jdbcType=INTEGER}, #{wangzhan,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, 
      #{month,jdbcType=VARCHAR}, #{day,jdbcType=VARCHAR}, #{hour,jdbcType=VARCHAR}, #{xingqi,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{urlcunqu,jdbcType=VARCHAR}, #{urldaxiao,jdbcType=VARCHAR}, 
      #{urlruzhan,jdbcType=VARCHAR}, #{urlchuzhan,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.cbd.pojo.Wangzhi" >
    insert into wangzhi
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="wangzhan != null" >
        wangzhan,
      </if>
      <if test="year != null" >
        Year,
      </if>
      <if test="month != null" >
        Month,
      </if>
      <if test="day != null" >
        Day,
      </if>
      <if test="hour != null" >
        Hour,
      </if>
      <if test="xingqi != null" >
        Xingqi,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="urlcunqu != null" >
        URLcunqu,
      </if>
      <if test="urldaxiao != null" >
        URLdaxiao,
      </if>
      <if test="urlruzhan != null" >
        URLruzhan,
      </if>
      <if test="urlchuzhan != null" >
        URLchuzhan,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="wangzhan != null" >
        #{wangzhan,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        #{month,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        #{day,jdbcType=VARCHAR},
      </if>
      <if test="hour != null" >
        #{hour,jdbcType=VARCHAR},
      </if>
      <if test="xingqi != null" >
        #{xingqi,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="urlcunqu != null" >
        #{urlcunqu,jdbcType=VARCHAR},
      </if>
      <if test="urldaxiao != null" >
        #{urldaxiao,jdbcType=VARCHAR},
      </if>
      <if test="urlruzhan != null" >
        #{urlruzhan,jdbcType=VARCHAR},
      </if>
      <if test="urlchuzhan != null" >
        #{urlchuzhan,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.cbd.pojo.Wangzhi" >
    update wangzhi
    <set >
      <if test="wangzhan != null" >
        wangzhan = #{wangzhan,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        Year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="month != null" >
        Month = #{month,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        Day = #{day,jdbcType=VARCHAR},
      </if>
      <if test="hour != null" >
        Hour = #{hour,jdbcType=VARCHAR},
      </if>
      <if test="xingqi != null" >
        Xingqi = #{xingqi,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="urlcunqu != null" >
        URLcunqu = #{urlcunqu,jdbcType=VARCHAR},
      </if>
      <if test="urldaxiao != null" >
        URLdaxiao = #{urldaxiao,jdbcType=VARCHAR},
      </if>
      <if test="urlruzhan != null" >
        URLruzhan = #{urlruzhan,jdbcType=VARCHAR},
      </if>
      <if test="urlchuzhan != null" >
        URLchuzhan = #{urlchuzhan,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.cbd.pojo.Wangzhi" >
    update wangzhi
    set wangzhan = #{wangzhan,jdbcType=VARCHAR},
      Year = #{year,jdbcType=VARCHAR},
      Month = #{month,jdbcType=VARCHAR},
      Day = #{day,jdbcType=VARCHAR},
      Hour = #{hour,jdbcType=VARCHAR},
      Xingqi = #{xingqi,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      URLcunqu = #{urlcunqu,jdbcType=VARCHAR},
      URLdaxiao = #{urldaxiao,jdbcType=VARCHAR},
      URLruzhan = #{urlruzhan,jdbcType=VARCHAR},
      URLchuzhan = #{urlchuzhan,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>